<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
</head>
<body>
<h1>회원 가입</h1>
<form action="/member/doJoin" method="POST">
    <p>
        <label for="loginId">123로그인 아이디:</label><br>
        <input type="text" id="loginId" name="loginId" required>
    </p>
    <p>
        <label for="loginPw">비밀번호:</label><br>
        <input type="password" id="loginPw" name="loginPw" required>
    </p>
    <p>
        <label for="name">이름:</label><br>
        <input type="text" id="name" name="name" required>
    </p>
    <p>
        <label for="nickname">닉네임:</label><br>
        <input type="text" id="nickname" name="nickname" required>
    </p>
    <p>
        <label for="cellphoneNum">휴대폰 번호:</label><br>
        <input type="text" id="cellphoneNum" name="cellphoneNum" required>
    </p>
    <p>
        <label for="email">이메일:</label><br>
        <input type="email" id="email" name="email" required>
    </p>
    <p>
        <button type="submit">가입하기</button>
    </p>
</form>
</body>
</html>